<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Saka</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css" />
</head>

<body>
    <div align="center">
        <p><%- content %></p>
        <p><a href="/">Top</a></p>
    </div>
</body>
<%- include('./common/_footer', null) %>
</html>