<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Saka</title>
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
</head>

<body>
    <div align="center">
        <p><%- content %></p>
        <p><a href="/list?grp=keyaki">欅坂</a></p>
        <p><a href="/list?grp=hinata">日向坂</a></p>
        <input type="button" onclick="location.href='/regist'" value="新メンバー登録">
    </div>
</body>

</html>