<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Saka</title>
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
</head>

<body>
    <%- include('./common/_header', null) %>
    <%- include('./common/_sidevar', null) %>
</body>

</html>