<!-- header -->
<div align="center">
    <header class="headline">
        <h1><%- content %></h1>
    </header>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="/list?grp=nogi">乃木坂</a>
        </li>
        <li class="nav-list-item">
            <a href="/list?grp=keyaki">欅坂</a>
        </li>
        <li class="nav-list-item">
            <a href="/list?grp=hinata">日向坂</a>
        </li>
    </ul>
    <input type="button" onclick="location.href='/regist'" value="新メンバー登録">
</div>